<html>
	<head>
		<title>Change Password</title>
	</head>
	<body>
		
		<form method="POST" action="">
			<center>
				<fieldset style="height:80%;width:50%;border-width:10px;border-color:mediumseagreen;">
				<legend style="color:green; font-size:25;margin: 10%; text-align:left; " >CHANGEPASSWORD</legend>
					<table align="center" width="100%" >

						<tr height="80px" style="background:lightcyan;">
							<td style="color:green; font-size:25;margin: 10%; text-align:left; font-family:Lucida Handwriting; ">Marketplace </td>
							<td colspan="" style="color:green; font-size:15;margin: 10%; text-align:right; "><a href="reelancer.php">Logged in as Freelancer</a>| </td>


							<td colspan="" style="color:green; font-size:15;margin: 10%; text-align:right; "><a href="logout.html">Logout</a> </td>
						</tr>
						<tr height ="250px">
							<td><ul>
								<li><a href="">Dashboard</a></li>
								<li><a href="viewProfile.html">View Profile </a></li>
								<li><a href="editProfile.html">Edit Profile</a></li>
								<li><a href="">Add Protfolio</a></li>
								<li><a href="jobApply.php?name=<?=$name?>">Job Apply</a></li>
								<li><a href="">Communicate With Client</li></a>
								<li><a href="">Account</a></li>
								<li><a href="">withdraw Account</a></li> </p></td>
								<td colspan="2" style="color:green;"><fieldset>
							<legend>CHANGE PASSWORD</legend>
								<table><tr>
							<td style="color:green;font-size:15;"><b>Current Password</b></td>
							<td><input type="password" name="password" value=""></td>
						</tr>
							<tr>
							<td style="color:green;font-size:15;"><b>Nwe Password</b></td>
							<td><input type="password" name="password" value=""></td>
						</tr>
						<tr>
							<td colspan="2"><hr style="height:5px;background-color:mediumseagreen;"></td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" name="submit"></td>
						</tr>
					</table>
				   </fieldset>
				  </td>
							
					</tr>
						<tr>
							<td colspan="3" align="center" height="50px" style="background:mediumseagreen;">
								<h4 style="color: white;font-size:15;width:35%;height:10%;text-align: center;" >Copyright&copy2017<h4>
							</td>
						</tr>
				</fieldset>
			</center>
		</form>
	</body>
</html>