<html>
	<head>
		<title>Login | Marketplace</title>
	</head>
	<body>
		
		<form method="POST" action="../contoller/loginCheck.php">
			<center>
				<fieldset style="height:80%;width:50%;border-width:10px;border-color:mediumseagreen;">
				<legend style="color:green; font-size:25;margin: 10%; text-align:left; " ><b>LOGIN</b></legend>
				<h2 style="color:mediumseagreen; font-family:Lucida Handwriting;">Welcome to the Marketplace</h2>
					<table align="center" width="80%" >
						<tr>
							<td style="color:green;font-size:20;"><b>Email</b></td>
							<td width="50%"><input type="email" name="email" value=" "></td>
						</tr>
						<tr>
							<td colspan="2"><hr style="height:5px;background-color:mediumseagreen;"></td>
						</tr>
						<tr>
							<td style="color:green;font-size:20;"><b>Password</b></td>
							<td><input type="password" name="password" value=""></td>
						</tr>
						<tr>
							<td colspan="2"><a href="forgatepassword.html">Forgot your password?</a></td>
						</tr>
						<tr>
							<td> </td>
							<td align="left">
								<input type="checkbox" name="remind" value=" ">Remember Me
							</td>
						</tr>
						<tr>
							<td colspan="2" align="right" height="50px">
								<input type="submit" name="submit" value="Submit" style="cursor: pointer;font-size:20;">
								<input type="reset" name="reset" value="Reset" style="cursor: pointer;font-size:20;">
							</td>
						</tr>
						
						<tr height="10px">
							<td colspan="2"></td>

						</tr>
						<tr height="10px">
							<td colspan="2"></td>

						</tr>
						<tr>
							<td colspan="2" align="center" height="40px" style="background:mediumseagreen;">
								<a href="singup.html" style="color: white;font-size:25;width:40%;height:80%;">Sign Up</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</center>
		</form>
	</body>
</html>